<p>
  Поиск
</p>

<label for="surnameFilter">Фамилия:</label>
<input id="surnameFilter" type="text"
       [ngModel]="filter.surname"
       (ngModelChange)="setSurnameFilter($event)"/>

<label for="specialityFilter">Специальность:</label>
<select id="specialityFilter"
        [ngModel]="filter.specialityId"
        (ngModelChange)="setSpecialityFilter($event)"
        required>
  <option *ngFor="let spec of specialities" [value]="spec.id">{{spec.name}}</option>
</select>

<hr/>

<table>
  <tr>
    <td>Фамилия</td>
    <td>Имя</td>
    <td>Отчество</td>
    <td>Количество баллов</td>
  </tr>
  <tr student-row *ngFor='let student of students | async' [student]='student'></tr>
</table>
