<p>
  Поиск
</p>

<label for="surnameFilter">Фамилия:</label>
<input #surnameFilter id="surnameFilter" type="text"
       (keyup)="filterStudents(surnameFilter.value, specialityFilter.value)"/>

<label for="specialityFilter">Специальность:</label>
<select #specialityFilter id="specialityFilter" (input)="filterStudents(surnameFilter.value, specialityFilter.value)"
        required>
  <option *ngFor="let spec of specialities" [value]="spec.id">{{spec.name}}</option>
</select>

<hr/>

<table>
  <tr>
    <td>Фамилия</td>
    <td>Имя</td>
    <td>Отчество</td>
    <td>Количество баллов</td>
  </tr>
  <tr student-row *ngFor='let student of students' [student]='student'></tr>
</table>
